body {
  background: #FDFFFC;
  padding-top: 50px;
}

.navbar-inverse {
    background-color: #011627;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #011627;
}
#name {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
    font-family: sans-serif;
}
#beerButton {
    background-color: #2EC4B6;
    margin-top: 10px;
}
#beerContainer {
    clear: both;
    display: block;
    height: 85vh;
    overflow: scroll;

}

.beer {
    position: relative;
    display: inline-block;
    border-radius: 8px;
    background-color: #2EC4B6;
    margin: 10px;
    width: 170px;
    height: 75px;
    pointer-events: all;
    padding-right: 5px;
}


.beer:hover{
    transform: scale(1.15);
}

.boxclose{
    position:absolute;
    top:-10px;
    right:-10px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

#order-text {
    width: auto;
}
.total-counter {
    width: 50%;
}


.beerName {
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;

}
.beerName2 {

    padding-top: 5px;
    padding-left: 5px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    pointer-events: none;
}
.beerPrice {

    padding-top: 5px;
    margin-left: -10px;
    pointer-events: none;
}
.beerCount {

    padding-top: 5px;
    padding-left: 5px;
    pointer-events: none;
}
.order-button {
    padding: 5px;
    font-size: 20px;
}
#confirmButton {
    background-color: #2EC4B6;
}
#clearButton{
    background-color: #E76F51;
}
#undoButton, #redoButton{
    background-color: #F4A261;
}
#cart {
    min-height: 200px;
    background-color: #C2CDD1;
    border-radius: 5px;
}
.sold-out {
    position: absolute;
    width: 100%;
    max-height: 100%;
    left: 0;
}
#search-box {
    float: right;
    margin-top: 10px;
    margin-right: 35px;
}
#search-box-inv {
    float: right;
    margin-top: 10px;
    margin-right: 80px;
}
.cart-item {
    background-color: #C2CDD1;
}
#navbar-lang{
    float: right;
}

.nav-ele{
    cursor: pointer;
}
#swe-flag, #eng-flag{
    width: 30px;
    height: 24px;
}

#puzzles-img {
    width: 50px;
    height: 50px;
    float: left;

}
#cart-badge {
    margin-right: 25px;
    margin-top: 10px;
}
.closeButton {
  color: #777;
  font: 24px/100% arial, sans-serif;
  position: absolute;
  right: 0px;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff;
  top: 0px;
  cursor: pointer;

}
.closeButton:after {
     content: '✖';
}
.plusButton {
  color: #777;
  font: 45px/100% arial, sans-serif;
  position: absolute;
  right: 95px;
  text-decoration: none !important;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
  cursor: pointer;

}
.plusButton:after {
     content: '+';
}
.minusButton {
  color: #777;
  font: 50px/100% arial, sans-serif;
  position: absolute;
  right: 150px;
  text-decoration: none !important;;
  text-shadow: 0 1px 0 #fff;
  top: 1px;
  cursor: pointer;

}
.minusButton:after {
     content: '-';
}
